header {
    width: 100%;
    max-width: 1900px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: rgb(63, 63, 60);
    z-index: 3;
    .burger {
        width: 30px;
        position: absolute;
        left: 25px;
        top: 16px;
        transition: all 1.5s;
    }
    .active {
        transform:rotate(90deg);
        transition: all 1.5s;
    }
    .logo {
        width: 170px;
        line-height: 58px;
        margin-left: 65px;
        .logo-img {
            width: 45px;
            height: 55px;
        }
        .logo-logo {
            margin: 0;
            float: right;
        }
        a {
            text-decoration: none;
            color:black;
        }
    }
    .search {
        height: 35px;
        width: 220px;
        border-radius: 20px;
        padding-left: 10px;
        margin-top: 17.5px;
        border: 2px solid rgb(235, 235, 92) ;
    }
    .info {
        width: 270px;
        margin-top: 10px;
        display: inline-block;
        background-color:yellowgreen;
        &>div {
            float: right;
            margin-left: 15px;
        }
    }
    .basket {
        width: 60px;
        img {
            width: 35px;
            margin-top: 10px;
        }
        a {
            text-decoration: none;
            color: black;
        }
        .active {
            text-decoration: none;
            color:black;
            img {
                width: 38px; 
                margin-top: 15.5px;
            }
        }
    }
}