footer {
    height: 110px;
    background-color: rgba(212, 212, 212, 0.76);
    padding: 5px 35px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
    .info {
        line-height: 30px;
    }
}