.item-page {
    width: 90%;
    margin: 0 auto;
    padding-top: 80px;
    .wrapper {
        width: 60%;
        display: flex;
        justify-content: space-between;
        .item-image-block {
            width: 700px;
            height: 550px;
            display: flex;
            .item-image-list {
                margin-top: 10px;
                list-style: none;
                li {
                    padding: 5px;
                    margin-top: 10px;
                    border: 1px solid rgb(205, 202, 202);
                    border-radius: 15px;
                    box-sizing: content-box;
                    
                    img {
                        max-width: 100px;
                        max-height: 100px;
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
            .item-target-image {
                width: 300px;
                height: auto;
                display: block;
                margin: 0 auto;
                margin: 10px 30px 0 30px;
                object-fit: contain;
            }
        }
        .item-info-block {
            width: 500px;
            margin-top: 5px;
            h3 {
                margin: 20px 0px 20px 20px;
            }
            .info-block-list {
                list-style: none;
                margin-bottom: 50px;
                li {
                    margin-bottom: 10px;
                    padding-left: 10px;
                    font-weight: 600;
                    &::before {
                        content: '- ';
                    }
                }
            }
            button {
                width: 300px;
                height: 40px;
                border-radius: 10px;
                margin-top: 20px;
                margin: 20px 0 0 10px;
                border:none;
                border: 1px solid silver;
                background-color: yellow;
                font-weight: 600;
                &:active {
                    background-color: rgb(214, 213, 211);
                }
            }
            .target-price {
                font-size: 22px;
                font-weight: 700;
                margin-left: 10px;
                color: rgb(255, 1, 136);
                .old-price {
                    font-size: 14px;
                    color: silver;
                    text-decoration: line-through;
                }
            }
        }
    }
    .description {
        border-top: 1px solid black;
        width: 60%;
        margin-top: 70px;
        margin-left: 0px;
        h3 {
            margin-top: 15px;
        }
        ul {
            list-style: none;
            li {
                margin-top: 10px;
            }
        }
    }
}

@media(max-width: 830px) {
    .item-page {
        h2 {
            font-size: 20px;
        }
        .wrapper {
            width: 100%;
            display: block;
            .item-image-block {
                width: 50%;
            }
        }
        .description {
            width: 90%;
        }
    }
}

@media(max-width: 530px) {
    .item-page {
        width: 100%;
        padding: 80px 5px 0px 5px;
        .wrapper {
            .item-image-block {
                width: auto;
                height: fit-content;
                .item-image-list {
                    li {
                        img {
                            max-width: 50px;
                            height: auto;
                        }
                    }
                }
                .item-target-image {
                    width: 230px;
                    height: fit-content;
                    max-height: 300px;
                }
            }
            .item-info-block {
                width: auto;
                li {
                    word-wrap: break-word;
                }
            }
        }
        .description {
            width: 100%;
        }
    }
}

