.section {
    padding-top: 20px;
    min-height: 350px;
    border-bottom: 2px solid rgb(184, 187, 186);
    h2 {
        color:rgb(76, 79, 79);
        text-align: center;
        font-size: 25px;
    }
    hr {
        position: relative;
        font-size: 16px;
        height: 1px;
        border: 1px solid yellow;
        width: 13%;
        margin: 20px auto;
    }
    .wrapper-children {
        width: 70%;
        margin: 0 auto;
    }
}

@media(max-width: 900px) {
    .section {
        hr {
            width: 30%;
        }
        .wrapper-children {
            width: 100%;
        }
    }
}