.timer {
    width: 50%;
    height: 200px;
    h2 {
        text-align: center;
        margin-top: 5px;
    }
    .timer_wrapper {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        margin-top: 30px;
        section {
            text-align: center;
            font-size: 23px;
            border-radius: 10px;
            width: 100px;
            height: 100px;
            padding-top: 15px;
            background-color: rgb(231, 231, 73);
            box-shadow: 5px 10px 5px rgb(116, 115, 115);
            p:nth-child(1) {
                border-bottom: 1px solid rgb(200, 200, 200);
                padding-bottom: 5px;
            }
        }
        span {
            line-height: 100px;
        }
    }
    .timer-finish {
        margin-top: 50px;
        color:red;
        font-size: 30px;
    }
}