.container {
    width: 100%;
    max-height: 360px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 5px;
}

.slick-arrow {
    opacity: 0.7; 
}

.slick-prev, .slick-next {
    width: 30px;
    height: 50px;
    background-color: silver;
    border-radius: 5px;
    z-index: 1;

    &:hover {
        opacity: 1;
        background-color:silver;
    }
    &:focus {
        outline: none;
        background-color:silver;
    }
}

.slick-prev {
    margin-left: 19px;
} 

.slick-next {
    margin-right: 19px;
}
