.container {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 5px;
}

.slick-arrow {
    opacity: 0.7; 
}

.slick-prev, .slick-next {
    width: 30px;
    height: 50px;
    background-color: silver;
    border-radius: 5px;

    &:hover {
        opacity: 1;
        background-color:silver;
    }
    &:focus {
        outline: none;
        background-color:silver;
    }
}

.slick-prev {
    margin-left: -45px;
}

.slick-next {
    margin-right: -45px;
}

// .slick-track {
//     margin-left: 50px;
// }